
<div class="hero-unit">
		<h1>Welcome to Ideaboxx</h1>
		<p>
			It's part suggestion box, part bug tracker, part prioritization engine and a whole lot of awesome.
		</p>
		<p>
			<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
		</p>
</div>