<h1>User</h1>

<div class="row">
	<div class="span8">
		<div class="well">
			<b>User Name:</b>
			<p>
			  <%= @user.name %>
			</p>
			<b>Email:</b>
			<p>
			  <%= @user.email %>
			</p>

		</div>
	</div>
</div>
<p><%= link_to 'Back to Users', users_path, class: "btn btn-info" %></p>