$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
/* this gets rid of the standard background of the navbar
$navbarBackground: white;
*/

@import 'bootstrap';
@import "bootstrap-responsive";

body {
	padding-top: 60px;
}

/*this gets rid of the drop shadow on the navbar*/
/*
.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}
*/
table th {
	text-align: left;
}

table tr.evenrow {
	background-color: #FFFFFF;
}

table tr.oddrow {
	background-color: #E8E8E8; 
}

div.comment {
	background: #fff;
	border-bottom: 1px solid #ddd;
	clear: left;
	color: #333;
	padding: 10px 0 10px 0;
}

div.new_comment {
	margin-top: 10px;
}

.padding5 {
	padding: 5px 5px 5px 5px;
}

.float-right {
	float: right;
}

.text-align-right {
	text-align: right;
}

.footer{
	margin-top:50px;
	color:$grayLight;
	a {
		color:gray;
	}
}