<h1>Admin</h1>
	<% if current_user.admin? %>
	  This is where I'll add a create user capability.
	<% else %>
		<p>Sorry, you don't have access to this page. Please request admin access from your administrator.</p>

	<% end %>