
<% if user_signed_in? %>
<%= link_to "See ideas", ideas_path %>

<% else %>
	<div class="hero-unit">
			<h1>Welcome to Ideaboxx</h1>
			<p>
				It's part suggestion box, part bug tracker, part prioritization engine and a whole lot of awesome.
			</p>
			<p>
				<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
			</p>
	</div>

<% end %>